form{
    padding: 50px;
}

/* .searchFormGroup{
    padding-bottom: 40px; 
    float:left;
    width: 33.3%;
    font-size: 25px;
    font-family: Helvetica;
} */

form label{
    padding: 10px;
    text-align: left;
}

form select, form input{
    padding: 10px;
}

form button{
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
}

form button:hover{
    background: blue;
    color: #ffffff;
} 

.formContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.searchButton {
    width: 70px;
}